<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Book Recommendation System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png" />
    </head>

    <body>
        <b>
            <a href="#"> [Home] </a>
            <a href="#"> [Collection] </a>
        </b>

        <div class="content">
            <h1 class="title">Book Recommendation System</h1>
            <h3 class="subtitle">Pick some of the books you like from our list below</h3>

            <br>
            <br>
            <form action="recommend" method="post">            
                <div class="gallery">
                    
                    <figure>
                    <img src="../static/css/images/movie1.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=0>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie2.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=1>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie3.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=2>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie4.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=3>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie5.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=4>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie6.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=5>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie7.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=6>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie8.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=7>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie9.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=8>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie10.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=9>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie11.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=10>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie12.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=11>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie13.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=12>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie14.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=13>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie15.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=14>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie16.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=15>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie17.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=16>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie18.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=17>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie19.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=18>
                    </figure>
                    
                    <figure>
                    <img src="../static/css/images/movie20.jpg" class="gallery-img" alt="alt text">
                    <input type="checkbox" name="book" value=19>
                    </figure>
                </div>
                
                <br>
                <br>

                <b>
                    <button class="favorite styled" type="submit" name="recommend-button" value="recommend">
                        Recommend books to me
                    </button>
                </b>
            </form>            
            <br>
            <br>
            <br>

            <footer>
                    <p>
                        Owned and maintained by <a href="https://aayux.github.io">aayux</a>
                    </p>
            </footer> 

        </div>
    </body>
</html>