<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Book Recommendation System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png" />
    </head>

    <body>
        <b>
            <a href="javascript:window.location.reload()"> [Home] </a>
            <a href="#"> [Search] </a>
        </b>

        <div class="content">
            <h1 class="title">Book Recommendation System</h1>
            <h3 class="subtitle">Pick some of the books you like from our list below</h3>

            <br>
            <br>

            <form action="recommend" method="post">
                <div class="gallery">

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[0]['src']}}" class="gallery-img" alt="{{im_meta[0]['title']}}"></a>
                        <input type="checkbox" name="book" value=0>
                        {{im_meta[0]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[1]['src']}}" class="gallery-img" alt="{{im_meta[1]['title']}}"></a>
                        <input type="checkbox" name="book" value=1>
                        {{im_meta[1]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[2]['src']}}" class="gallery-img" alt="{{im_meta[2]['title']}}"></a>
                        <input type="checkbox" name="book" value=2>
                        {{im_meta[2]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[3]['src']}}" class="gallery-img" alt="{{im_meta[3]['title']}}"></a>
                        <input type="checkbox" name="book" value=3>
                        {{im_meta[3]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[4]['src']}}" class="gallery-img" alt="{{im_meta[4]['title']}}"></a>
                        <input type="checkbox" name="book" value=4>
                        {{im_meta[4]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[5]['src']}}" class="gallery-img" alt="{{im_meta[5]['title']}}"></a>
                        <input type="checkbox" name="book" value=5>
                        {{im_meta[5]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[6]['src']}}" class="gallery-img" alt="{{im_meta[6]['title']}}"></a>
                        <input type="checkbox" name="book" value=6>
                        {{im_meta[6]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[7]['src']}}" class="gallery-img" alt="{{im_meta[7]['title']}}"></a>
                        <input type="checkbox" name="book" value=7>
                        {{im_meta[7]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[8]['src']}}" class="gallery-img" alt="{{im_meta[8]['title']}}"></a>
                        <input type="checkbox" name="book" value=8>
                        {{im_meta[8]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[9]['src']}}" class="gallery-img" alt="{{im_meta[9]['title']}}"></a>
                        <input type="checkbox" name="book" value=9>
                        {{im_meta[9]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[10]['src']}}" class="gallery-img" alt="{{im_meta[10]['title']}}"></a>
                        <input type="checkbox" name="book" value=10>
                        {{im_meta[10]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[11]['src']}}" class="gallery-img" alt="{{im_meta[11]['title']}}"></a>
                        <input type="checkbox" name="book" value=11>
                        {{im_meta[11]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[12]['src']}}" class="gallery-img" alt="{{im_meta[12]['title']}}"></a>
                        <input type="checkbox" name="book" value=12>
                        {{im_meta[12]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[13]['src']}}" class="gallery-img" alt="{{im_meta[13]['title']}}"></a>
                        <input type="checkbox" name="book" value=13>
                        {{im_meta[13]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[14]['src']}}" class="gallery-img" alt="{{im_meta[14]['title']}}"></a>
                        <input type="checkbox" name="book" value=14>
                        {{im_meta[14]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[15]['src']}}" class="gallery-img" alt="{{im_meta[15]['title']}}"></a>
                        <input type="checkbox" name="book" value=15>
                        {{im_meta[15]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[16]['src']}}" class="gallery-img" alt="{{im_meta[16]['title']}}"></a>
                        <input type="checkbox" name="book" value=16>
                        {{im_meta[16]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[17]['src']}}" class="gallery-img" alt="{{im_meta[17]['title']}}"></a>
                        <input type="checkbox" name="book" value=17>
                        {{im_meta[17]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[18]['src']}}" class="gallery-img" alt="{{im_meta[18]['title']}}"></a>
                        <input type="checkbox" name="book" value=18>
                        {{im_meta[18]['title']}}
                    </figure>

                    <figure>
                        <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[19]['src']}}" class="gallery-img" alt="{{im_meta[19]['title']}}"></a>
                        <input type="checkbox" name="book" value=19>
                        {{im_meta[19]['title']}}
                    </figure>

                </div>

                <br>
                <br>

                <b>
                    <button class="favorite styled" type="submit" name="recommend-button" value="recommend">
                        Recommend books to me
                    </button>
                </b>
            </form>

            <br>
            <br>
            <br>

            <footer>
                <p>
                    Owned and maintained by <a href="https://aayux.github.io">aayux</a>
                </p>
            </footer>
        </div>
    </body>
</html>