<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Book Recommendation System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png" />
    </head>

    <body>
        <b>
            <a href="{{url_for('index')}}"> [Home] </a>
            <a href="#"> [Search] </a>
        </b>

        <div class="content">
            <h1 class="title">{{metadata['title']}}</h1>
            <h3 class="subtitle">Rating: {{metadata['avg_rating']}}</h3>

            <br>
            <br>

            <div class="recommendation-gallery">
                
                <div class="float-item">
                    <img src="{{metadata['imUrl']}}" alt="#" style="float: left" width=225 height=300>
                    <br>
                    <br>
                </div>
                
                <div class="content">
                    <b>Description:</b>
                    <br>
                    {{metadata['description']}}
                    <br>
                    
                    <hr size="2" align="center" noshade width="100%" color="000000">
                    <p> <b>Top Review: "{{metadata['topReviewSummary']}}"</b>
                        <br>
                        {{metadata['topReviewText']}}
                        <br>
                    </p>

                    <br>
                    <br>

                </div>
            </div>
            
            <b>
                <button class="favorite styled" type="submit" name="back-button" onclick="history.back()" value="back">
                    Go back
                </button>
            </b>

            <br>
            <br>
            <br>

            <footer>
                <p>
                    Owned and maintained by <a href="https://aayux.github.io">aayux</a>
                </p>
            </footer>

        </div>
    </body>
</html>