<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Book Recommendation System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../static/images/icon.png" />
    </head>

    <body>
        <b>
            <a href="{{url_for('index')}}"> [Home] </a>
            <a href="#"> [Search] </a>
        </b>

        <div class="content">
            <h1 class="title">Book Recommendation System</h1>
            <h3 class="subtitle">We think you might like these books!</h3>

            <br>
            <br>

            <div class="recommendation-gallery">

                <figure>
                    <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[0]['src']}}" class="gallery-img" alt="{{im_meta[0]['title']}}"></a>
                    {{im_meta[0]['title']}}
                </figure>

                <figure>
                    <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[1]['src']}}" class="gallery-img" alt="{{im_meta[1]['title']}}"></a>
                    {{im_meta[1]['title']}}
                </figure>

                <figure>
                    <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[2]['src']}}" class="gallery-img" alt="{{im_meta[2]['title']}}"></a>
                    {{im_meta[2]['title']}}
                </figure>

                <figure>
                    <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[3]['src']}}" class="gallery-img" alt="{{im_meta[3]['title']}}"></a>
                    {{im_meta[3]['title']}}
                </figure>

                <figure>
                    <a href="{{url_for('onclick_book')}}"><img src="{{im_meta[4]['src']}}" class="gallery-img" alt="{{im_meta[4]['title']}}"></a>
                    {{im_meta[4]['title']}}
                </figure>

            </div>

            <br>
            <br>
            <br>
            <p>
                Click on one of these books to view them
            </p>

            <br>
            <br>
            <br>

            <footer>
                <p>
                    Owned and maintained by <a href="https://aayux.github.io">aayux</a>
                </p>
            </footer>

        </div>
    </body>
</html>